%h1
  Editing keyword

- form_for([@site, @keyword]) do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p= f.submit 'Update'

= link_to 'Show', site_keyword_path(@site, @keyword)
|
= link_to 'Back', site_keywords_path(@site)

