- form_for(@site) do |f|
  = f.error_messages
  - [:host, :analytics_email, :analytics_password, :analytics_profile_id, :analytics_metric, :analytics_filter].each do |column|
    %p
      = f.label column
      %br
      = f.text_field column
  %p
    = f.submit 'Update'

